/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* WEBSITE DESIGN CODE */
:root {
  /* COLORS */
  --dark-blue: #1f2937;
  --light-blue: #3882f6;
  --hero-main-text: #f9faf8;
  --hero-secondary-text: #e5e7eb;

  /* FONTS SIZES */
  --fontsize-hero-main: 48px;
  --fontsize-hero-secondary: 18px;
  --fontsize-header-logo: 24px;
  --fontsize-information-header: 36px;
}

/* HEADER */
.header {
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 15vw;
}

.header__logo {
  color: var(--hero-main-text);
  font-size: var(--fontsize-header-logo);
  font-weight: 900;
  font-family: sans-serif;
}

.header__nav {
}

.header__nav ul {
  list-style: none;
  display: flex;
  font-size: var(--fontsize-hero-secondary);
  gap: 18px;
  font-family: sans-serif;
}

.header__nav li {
}

.header__nav a {
  text-decoration: none;
  color: var(--hero-main-text);
}

/* SECTION: HERO */
.hero {
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 15vw;
  gap: 48px;
  min-height: 70vh;
}

.hero__left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.hero__h1 {
  font-weight: 900;
  font-size: var(--fontsize-hero-main);
  color: var(--hero-main-text);
  line-height: 1.2;
}

.hero__h1-undertext {
  font-size: var(--fontsize-hero-secondary);
  color: var(--hero-secondary-text);
}

.hero__btn-cta {
  background-color: var(--light-blue);
  color: var(--hero-secondary-text);
  padding: 7px 36px;
  border-radius: 6px;
  border: none;
  font-weight: 900;
  font-size: 18px;
  max-width: 140px;
}

.hero__img-container {
  flex: 1;
}

.hero__img {
  max-width: 30vw;
}

/* SECTION: INFORMATIONS */
.informations {
  background-color: var(--hero-main-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 15vw;
  margin-bottom: 96px;
}

.informations__h2 {
  font-size: var(--fontsize-information-header);
  font-weight: 900;
  color: var(--dark-blue);
  margin: 48px 0;
}

.informations__img-container {
  display: flex;
  gap: 96px;
}

.informations__img-single-container {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
  justify-content: center;
}

.informations__img {
  border: solid var(--light-blue) 3px;
  border-radius: 15px;
  width: 150px;
  height: 150px;
}

.informations__img-undertext {
  text-align: center;
  margin-top: 18px;
}
